# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python distribution/build
build/
dist/
*.egg-info/

# Logs
*.log